    .card {
        border: .5px solid #6d63fe;
        img {
            width: fill;
            border-radius: 50%;
        }
        button {
            background-color: #6d63fe;
            color: white;
            &:hover {
                background-color: #fff;
                border-color: #6d63fe;
                color: #6d63fe;
            }
        }
    }
    
    button {
        width: 100%;
        background-color: #fff;
        border-color: #6d63fe;
        color: #6d63fe;
        &:hover {
            background-color: #6d63fe;
            color: white;
        }
    }
    
    .ng-valid[required],
    .ng-valid.required {
        border-left: 3px solid #42A948;
        /* green */
    }
    
    .ng-invalid:not(form) {
        border-left: 3px solid #a94442;
        /* red */
    }
    
    .alert div {
        background-color: #fed3d3;
        color: #820000;
        padding: 1rem;
        margin-bottom: 1rem;
    }