.card {
    border: .5px solid #6d63fe;
    p {
        background-color: #c3bff6;
        color: #4d41fd;
        width: fit-content;
        padding: .2rem 1rem;
        border-radius: 15rem;
    }
}