<div class="container">
    <h5 class="text-center my-3">Your appointments</h5>


    <div class="card my-3 shadow bg-body-tertiary rounded">
        <div class="card-body">
            <!-- info -->
            <p>status</p>
            <b>service type </b>
            <div class="row">
                <div class="col-9">
                    <b>car name </b><br>
                    <span>mechanic name</span>
                </div>
                <div class="col-3">
                    <b>date </b><br>
                    <span>time</span>
                </div>
            </div>
        </div>
    </div>


</div>