.logo {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--purple);
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
}

.logoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.tabs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .main {
        position: relative;
        flex: 1;
        overflow: scroll;
    }
}