<div class="container">
    <!-- logo -->
    <img src="../../../assets/undraw_automobile_repair_ywci-removebg-preview.png" alt="logo">

    <!-- text -->

    <div class="text-center">
        <b>The best app to find a mechanic</b>
        <p class="mt-3">Your Roadside Partner: Swiftly Connect with Reliable Mechanics Anytime, Anywhere!!</p>
    </div>

    <!-- button -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink="/login" type="button" class="btn">Get Started</button>
    </div>
</div>