<div class="container">
    <h5 class="text-center my-3">Make an appointment</h5>

    <form class="my-5">
        <!-- sevice type -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-1"> <i class="bi bi-car-front"></i></div>
                    <div class="col-11"> Service type</div>
                </div>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>

        <!-- car -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <p>Select your car</p>
                <div class="row mb-3">
                    <div class="col-6">
                        <input type="radio" name="payment" id="card" checked="checked" />
                        <label for="card">car name</label>
                    </div>
                    <div class="col-6"> <input type="radio" name="payment" id="cash" />
                        <label for="cash">car name</label>
                    </div>
                </div>


            </div>
        </div>

        <!-- date -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-1"> <i class="bi bi-calendar-date"></i></div>
                    <div class="col-11"> Date</div>
                </div>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>


        <!-- time -->

        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-1"> <i class="bi bi-clock"></i></div>
                    <div class="col-11"> Time</div>
                </div>
                <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <button type="button" routerLink="/dash/mechpro" class="btn cancel mt-3">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn save mt-3">Save</button>
            </div>
        </div>
    </form>

</div>