<div class="container">
    <h5 class="text-center my-3">Make an appointment</h5>

    <form class="my-5" [formGroup]="form">
        <!-- sevice type -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <div class="mb-3">
                    <div class="row mb-3">
                        <div class="col-1"> <i class="bi bi-car-front"></i></div>
                        <div class="col-11"> Service type</div>
                    </div>
                    <input type="text" class="form-control" formControlName="service_type">

                </div>


                <div class="mb-3">
                    <div class="mb-1"> Add more details</div>
                    <input type="text" class="form-control details" formControlName="details">

                </div>


            </div>
        </div>

        <!-- car -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <p>Select your car</p>
                <div class="row mb-3">
                    <div class="col-6" *ngFor="let c of car">
                        <input type="radio" name="payment" id="card" value="{{c._id}}" formControlName="car" checked="checked" />
                        <label for="card">{{c.make}}  {{c.model}}</label>
                    </div>
                </div>


            </div>
        </div>

        <!-- date -->
        <div class="card  my-3 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-1"> <i class="bi bi-calendar-date"></i></div>
                    <div class="col-11"> Appointment Date and Time</div>
                </div>
                <input type="datetime-local" class="form-control" formControlName="date_time">
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <button type="button" routerLink="/client/mechpro" class="btn cancel mt-3">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn save mt-3" (click)="save()">Save</button>
            </div>
        </div>
    </form>

</div>