<div class="container">

    <h5 class="text-center mt-3">Find a mechanic for your car</h5>

    <!-- search -->
    <div class="input-group my-3">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>


    <!-- mechanics -->
    <div class="mechanic my-5">
        <h6 class="text-center mb-3">Recommended Mechanics</h6>



        <div *ngFor="let mech of mechanics | search:searchTerm" class="card shadow mb-3 bg-body-tertiary rounded" (click)="mechanicProfile(mech?.mechanic._id)">
            <div class="card-body">
                <!-- <a routerLink="/client/mechpro"> -->
                <!-- info -->
                <div class="row">
                    <div class="col-3">
                        <img src={{mech?.mechanic.profile_pic}} class="rounded-circle" alt="profile picture">
                    </div>
                    <div class="col-9">
                        <b>{{mech?.mechanic?.full_name}}</b>
                        <div class="row mt-3">
                            <div class="col-1">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="col-10">
                                <p>{{mech?.mechanic?.location}} </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-1">
                        <i class="bi bi-cash"></i>
                    </div>
                    <div class="col-7">
                        <p>Services from </p>
                    </div>
                    <div class="col-4">
                        <b> {{mech?.mechanic.profile[0].service_fee |currency:'R '}} </b><br>
                    </div>
                </div>

                <!-- location -->
                <!-- <div class="row mt-3">
                    <div class="col-1">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="col-8">
                        <p>{{mech?.mechanic?.location}} </p>
                    </div>
                    <div class="col-3">
                        <b> {{mech?.mechanic.profile[0].service_fee}} </b><br>
                        <span>from</span>
                    </div>
                </div> -->
                <!-- </a> -->


            </div>
        </div>



    </div>