<div class="container">
    <h5 class="text-center my-3">Mechanic Profile</h5>
    <!-- profile -->

    <div class="card my-3 shadow bg-body-tertiary rounded">
        <div class="card-body">
            <!-- info -->
            <div class="row">
                <div class="col-4">
                    <img src="../../../../assets/undraw_automobile_repair_ywci-removebg-preview.png" class="rounded-circle" alt="profile picture">
                </div>
                <div class="col-6">
                    <h2 class="mt-3">{{mechanic.foundData.mechanic.full_name |titlecase}}
                    </h2><br>
                    <!-- <span>5 reviews</span> -->
                </div>
                <div class="col-2">
                    <i class="bi bi-envelope-exclamation"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- button -->
    <button routerLink="/dash/create" type="button" class="btn">Make appointment</button>


    <!-- more info -->

    <div class="card my-3 shadow bg-body-tertiary rounded">
        <div class="card-body">
            <!-- info -->
            <div class="row">
                <!-- contact no -->
                <div class="col-1">
                    <i class="bi bi-phone"></i>
                </div>
                <div class="col-11">
                    <p>{{mechanic.foundData.mechanic.contact_no}}
                    </p>
                </div>
                <!-- email address -->
                <div class="col-1">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="col-11">
                    <p>{{mechanic.foundData.mechanic.email}}
                    </p>
                </div>
                <!-- location -->
                <div class="col-1">
                    <i class="bi bi-geo-alt-fill"></i>
                </div>
                <div class="col-11">
                    <p>{{mechanic.foundData.mechanic.location }}
                    </p>
                </div>
                <!-- service fee -->
                <div class="col-1">
                    <i class="bi bi-cash"></i>
                </div>
                <div class="col-11">
                    <p>{{mechanic.foundData.mechanic.profile[0].service_fee |currency:'R '}}
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- reviews -->

    <!-- <div class="card my-3 shadow bg-body-tertiary rounded">
        <div class="card-body">

            <div class="row review">
                <div class="col-4">
                    <img src="../../../../assets/undraw_automobile_repair_ywci-removebg-preview.png" class="rounded-circle" alt="profile picture">
                </div>
                <div class="col-8">
                    <span>full name </span><br>
                    <span>stars</span><br>
                    <span>date</span>
                </div>
                <p>comment</p>
            </div>
        </div>
    </div> -->

</div>