<div class="container">
    <!-- <div class="card mt-1 mb-5 shadow bg-body-tertiary rounded">
        <div class="card-body"> -->
    <!-- title -->
    <b class="text-center">Create Account</b>

    <!-- form -->
    <form class="my-4" [formGroup]="form" autocomplete="off">
        <!-- full name -->
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" required>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" required>
                </div>
            </div>
        </div>

        <!-- email -->
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" required>
        </div>

        <!-- contact number -->
        <div class="mb-3">
            <label class="form-label">Contact Number</label>
            <input type="number" pattern=".{9,10}" class="form-control" formControlName="contact_no" required>
        </div>

        <!-- location -->
        <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="email" class="form-control" formControlName="location" required>
        </div>

        <!-- password -->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" pattern=".{4,15}" class="form-control" formControlName="password" required>
        </div>

        <!-- role -->
        <select class="form-select" formControlName="role" aria-label="Default select example" required>
            <option selected>select the role</option>
            <option value="client">Client</option>
            <option value="mechanic">Mechanic</option>
        </select>


        <div class="d-grid gap-2  col-6 mx-auto">
            <button type="button" class="btn mt-3" (click)="register()">register</button>
        </div>
    </form>



    <!-- route -->
    <p class="text-center">Already have an account?
        <a routerLink="/login">Login</a>
    </p>
    <!-- </div>
</div> -->
</div>