button {
    background-color: #6d63fe;
    color: white;
    &:hover {
        border-color: #6d63fe;
        color: #6d63fe;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}